flask
pyTelegramBotAPI
yt-dlp
requests
beautifulsoup4
lxml
urllib3
moviepy
imageio[ffmpeg]
ffmpeg
pytube
pillow
cloudscraper
mega.py
psutil
watchdog
telebot
pylint
telethon
asyncio
nest_asyncio
psutil
api.video
instaloader
loguru
aiohttp
python-dotenv
aiofiles
uvicorn
gunicorn
quart
dropbox