cryptography
pycryptodome
yt-dlp
requests
beautifulsoup4
lxml
urllib3
moviepy
imageio[ffmpeg]
ffmpeg
pytube
pillow
cloudscraper
mega.py
psutil
watchdog
telebot
pylint
telethon
asyncio
nest_asyncio
psutil
api.video
instaloader
loguru
aiohttp
python-dotenv
aiofiles
uvicorn
gunicorn
quart
dropbox
flask[async]
fastapi
flask
pytelegrambotapi==4.14.0
tenacity==5.1.5
psutil
aiofiles
rclone
telegram