name: Build, Push to Docker Hub & Redeploy Koyeb

on:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: gauravabhalara/newbot:latest

      - name: Trigger Koyeb redeploy
        run: |
          curl -X POST "https://app.koyeb.com/services/d8416d2c-c190-409e-9909-816bf13d3025?deploymentId=04374151-d9de-4e0e-b6e1-0b7baa13f224" \
          -H "Authorization: Bearer ${{ secrets.KOYEB_API_KEY }}" \
          -H "Content-Type: application/json"
